body.auth-bg {
    background: #cbe2f3;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 28px;
    background: white;
    overflow: hidden;
    box-shadow: 0 8px 20px #bcd1e6;
}

.auth-left, .auth-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    padding: 20px;
}

.auth-left {
    background: linear-gradient(180deg,#079ae7 20%, #064aa2 100%);
    color: #fff;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    position: relative;
    min-width: 350px;
}

.welcome-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 90%;
    background: rgba(230,230,230,0.8);
    border-radius: 10px;
    box-shadow: 0 3px 8px #bcd1e6;
}

.welcome-box h2 {
    font-family: 'Playfair Display', serife;
    font-size: 1.6rem;
    color: #222;
    margin: 0;
}

.auth-right {
    background: #fff;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    min-width: 400px;
}

.auth-form-box {
    padding: 30px 25px;
    width: 350px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 16px #bcd1e6;
}

.auth-form-box h2 {
    margin: 0 0 10px 0;
}
.auth-form-box p {
    margin-bottom: 12px;
    color: #666;
}

.auth-form-box form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth-form-box input,
.auth-form-box select {
    padding: 12px 14px;
    border: 1.5px solid #d6d6e2;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.2s;
}
.auth-form-box input:focus,
.auth-form-box select:focus {
    border: 1.5px solid #069ae9;
    outline: none;
}

.auth-btn {
    background: #079ae7;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    padding: 12px 0;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    transition: background 0.2s;
}
.auth-btn:hover {
    background: #044e9c;
}

.forgot-link, .register-link, .login-link {
    color: #079ae7;
    text-decoration: none;
    font-size: 0.96rem;
    margin-left: 8px;
}
.forgot-link:hover, .register-link:hover, .login-link:hover {
    text-decoration: underline;
}

.error-msg {
    color: #ef476f;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}
